.container {
  max-width: 1172px;
  margin: 0 auto;
}
.header {
  position: sticky;
  top: 0;
  z-index: 3;
  height: 100px;
  background-color: #10101de5;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__links {
  color: #fff;
  display: flex;
  flex-flow: nowrap;
  gap: 60px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: right;
}

.order {
  min-height: 1000px;
  background: url("./earth.png");
  /* background-size: contain; */
  background-color: #272733;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
}
.hero {
  min-height: 850px;
  background: url("./main-hero-bg.png");
  /* background-size: contain; */
  background-position: center;
  background-repeat: no-repeat;
}
.order__main {
  padding: 120px 0;
  text-align: center;
}
.hero__main {
  padding: 100px 0;
  display: flex;
  flex-flow: column;
  gap: 80px;

  h2 {
    max-width: 800px;
    font-family: Lato;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
  }
  ul {
    p {
      font-family: Lato;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
    }
    li {
      font-family: Lato;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}
.hero__main-buttons {
  display: flex;
  gap: 30px;
}
.default-button {
  padding: 15px 0;
  width: 185px;

  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;

  border: 1px solid #6f6d7b;
  background-color: #fff;
  border-radius: 4px;
}
.colored {
  background-color: #3e9cdc;
  border: 1px solid #ffffff;
  color: #fff;
}

.order__circles {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.order__circles-img {
  width: 35px;
  background-color: #3e9cdc;
  padding: 25px;
  border-radius: 100%;
  border: 5px solid #286690;
  margin-bottom: 20px;
}
.order__circles-item {
  flex-grow: 1;
}
.order__circles-item {
  z-index: 2;
  position: relative;
}
.order__circles-item::before {
  content: ".....";
  font-size: 40px;
  letter-spacing: 20px;
  z-index: -1;
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  left: 75%;
}
.order__circles-item:last-child::before {
  display: none;
}

select {
  /* min-width: 370px; */
  height: 50px;
  padding: 0 10px;
  font-family: Lato;
  font-size: 18px;
  width: 100%;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  border: 1px solid #fff;
  background-color: #dfdfe0;
}
.order__form-select {
  width: 100%;
  max-width: 370px;
  height: 50px;
  position: relative;
}
.order__form-select::before {
  content: ">";
  color: #000;
  font-size: 20px;
  right: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
option {
  /* background: #272733E5; */
  border: none;
}

select:focus {
  /* background-color: #272733; */
}
.order__form-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 30px;
  margin-top: 80px;
}

.order__form-input,
select {
  color: #000;
  /* min-width: 370px; */
  /* width: 100%; */
  max-width: 370px;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  height: 50px;
  text-align: left;
  border-radius: 3px;
  border: 1px solid #ffffff;
  background-color: #dfdfe0;
}

.range {
  div,
  input {
    width: 100%;
    max-width: none;
    padding: 0;
    border: none;
    margin: 0;
  }
}
.range__text {
  display: flex;
  justify-content: space-between;
}

.order__main-title {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  line-height: 43px;
  letter-spacing: 0em;
  margin-bottom: 30px;
}
.order__main-text {
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  color: #bbbbbb;
  margin-bottom: 80px;
}

.order__form-label {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 370px;
  width: 100%;
  height: unset;
  padding: 13px 0;
}

footer {
  background: #3d4050;
}
.footer {
  max-width: 1172px;
  white-space: nowrap;
  margin: 0 auto;
  color: #fff;
  justify-content: space-between;
  display: flex;
  padding: 30px 0;
}
.footer__rights {
  width: 100%;
}
.footer__links {
  display: flex;
  border-left: 1px solid #c3c3c3;
  width: 100%;
  justify-content: center;
  /* padding: 0 50px; */
  gap: 30px;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #c3c3c3;
}
@media screen and (max-width: 1172px) {
  .container {
    max-width: 980px;
  }

  .footer {
    flex-flow: column;
    gap: 15px;
    text-align: center;
  }
  .footer__links {
    border-top: 1px solid #fff;
    border-left: none;
    max-width: 400px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1172px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 800px) {
  .container {
    max-width: 425px;
  }

  .hero__main {
    h2 {
      font-size: 32px;
      line-height: 40px;
    }
    ul {
      p,
      li {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .order__circles {
    flex-flow: column;
    gap: 50px;
  }
  .order__circles-img {
    margin-bottom: 10px;
  }
  .order__circles-item::before {
    display: none;
  }
  .order__form-inputs {
    display: flex;
    flex-flow: column;
  }
  .order__form-inputs {
    row-gap: 30px;
    margin-bottom: 40px;
  }
  .order__form-select select,
  .order__form-select,
  .order__form-input {
    /* width: 100%; */
    max-width: unset;
  }

  .header__container {
    max-width: none;
    margin: 0 10px;
  }
  .header__links {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    transform: translateY(-150%);
    background: #000000eb;
    transition: transform 0.5s;
    bottom: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 100px;
  }
  .header__links.active {
    transform: translateX(0);
  }
  .header__link {
    font-size: 24px;
    font-weight: 700;
  }
}

@media screen and (max-width: 450px) {
  .order__form {
    margin: 0 10px;
  }
}
